<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.19/sweetalert2.min.css"
        integrity="sha512-CJ5goVzT/8VLx0FE2KJwDxA7C6gVMkIGKDx31a84D7P4V3lOVJlGUhC2mEqmMHOFotYv4O0nqAOD0sEzsaLMBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>URL Shortener</title>
</head>

<body>
    <div class="wrapper">
        <form action="shortUrls" method="post">
            <input type="text" spellcheck="false" name="fullUrl" id="fullUrl" placeholder="Enter or paste a url"
                required>
            <i class="url-icon uil uil-link"></i>
            <button type="submit">Shorten</button>
        </form>
        <div class="statistics">
            <span>Total Links: <span>
                    <%= TotalLinks %>
                </span> & Total Clicks: <span>
                    <%= TotalClicks %>
                </span>
            </span>
            <a class="delAll" onclick="deleteAll()">Clear All</a>
        </div>
        <div class="urls-area">
            <div class="title">
                <li>Short URL</li>
                <li>Full URL</li>
                <li>Clicks</li>
                <li>Action</li>
            </div>
            <% shortUrls.forEach(shortUrl=> { %>
                <div class="data">
                    <li>
                        <a href="directTo/<%= shortUrl.short %>">
                            <%= shortUrl.short %>
                        </a>
                    </li>
                    <li>
                        <a href="<%= shortUrl.full %>">
                            <%= shortUrl.full %>
                        </a>
                    </li>
                    <li>
                        <%= shortUrl.clicks %>
                    </li>
                    <li>
                        <a href="delete/<%= shortUrl.id %>"><i class="uil uil-trash-alt"></i></a>
                    </li>
                </div>
                <% }); %>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.19/sweetalert2.all.min.js"
        integrity="sha512-o/FohCnw63hew8nW4BnBfJaTjvc50EA/Uq5hDtm25VRdQGYDgsr72IGks8Ji9evnFfQjBd9S89CWlJh4+gYlEw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        deleteAll = () => {
            Swal.fire({
                title: 'Are you sure, delete all Url?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("clearAll", {
                        method: "DELETE",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: null,
                    }).catch(error => console.error(error));

                    Swal.fire({
                        title: 'Deleted!',
                        text: 'All url has been deleted.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        window.location.href = "/";
                    });
                }
            });
        }
    </script>
</body>

</html>